---
import BlogSidebar from '../components/BlogSidebar.astro';
import Layout from './Layout.astro';

---

<Layout>
    <div class="grid grid-cols-[200px_1fr] gap-8 h-full mr-5">
        <BlogSidebar />
        <main class="pt-5">
            <slot />
        </main>
    </div>
</Layout>