---
import BlogSidebar from '../components/BlogSidebar.astro';
import Layout from './Layout.astro';

---

<Layout>
    <div class="grid md:grid-cols-[200px_1fr] gap-8 h-full mr-5">
        <BlogSidebar />
        <main id="blog-content" class="pt-5 ml-5 md:ml-0 mt-[28px] md:mt-0">
            <slot />
        </main>
    </div>
</Layout>