---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <!-- Initial paragraph -->
    <div class="max-w-xl mx-auto text-center px-4 mb-8">
    <h2 class="text-3xl font-bold mb-2">
        About me
    </h2>
    <p class="text-gray-600 text-base italic">
        Frank Nesling - master of structure
    </p>
    </div>
</Layout>