---
import BlogLayout from '../layouts/BlogLayout.astro';
---

<BlogLayout>
    <!-- Initial paragraph -->
    <div class="text-center px-4 mb-8">
        <h2 class="text-3xl font-bold mb-2">
            Here I write about everything
        </h2>
        <p class="text-gray-600 text-base italic">
            You can find texts about IT stuff, Formula 1, travels, history and other knowledge!
        </p>
    </div>
</BlogLayout>