---
import SkillTopic from '../components/SkillTopic.astro';
import SearchBar from '../components/SearchBar.astro';

import { getCollection } from "astro:content";
const skills = await getCollection("skills");

---

<!-- Initial paragraph -->
<div class="max-w-xl mx-auto text-center px-4 mb-8">
  <h2 class="text-3xl font-bold mb-2">
    Welcome to my site!
  </h2>
  <p class="text-gray-600 text-base italic">
    This website is the greatest I've ever seen, some say the greatest of the world. Tremendous!
    Please explore what I have written here, look around and I am sure you find something interesting.
    Feel free to contact me anytime!
  </p>
</div>
<!-- Search Bar -->
<SearchBar />
<!-- Skills -->
<SkillTopic skillTopic="Languages" items={skills} />