---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await post.render();

function formattedDate(date: Date) {
  return date.toLocaleDateString("de-AT", {
    day: "2-digit",
    month: "2-digit",
    year: "numeric",
  })
}
---

<BlogLayout>
  <h1 class="text-3xl font-bold mb-1">{post.data.title}</h1>
  <p class="text-lg mb-5 italic">{post.data.description}</p>
  <p class="text-sm">Published: {formattedDate(post.data.pubDate)} (AT time)</p>
  <p class="text-sm">Last Edit: {formattedDate(post.data.lastEdit)} (AT time)</p>
  <article class="blog-content mt-5 mb-5">
    <Content />
  </article>
</BlogLayout>