@import "tailwindcss";
@reference "tailwindcss";

.blog-content h2 {
  @apply text-xl font-semibold mb-1 mt-5;
}

.blog-content h1 {
  @apply text-2xl font-bold mb-1 mt-5;
}

.blog-content h3 {
  @apply text-lg font-semibold mb-1 mt-5;
}

.blog-content p {
  @apply mb-3 mt-1;
}