---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<BlogLayout>
  <article>
    <h1 class="text-3xl font-bold mb-1">{post.data.title}</h1>
    <p class="text-lg mb-2 italic">{post.data.description}</p>
    <Content />
  </article>
</BlogLayout>
