.content-card {
    border: var(--border-thick) ridge var(--brown);
    border-radius: var(--border-radius);
    padding: var(--small);
    display: inline-block;
    margin: var(--small);
    width: calc(100% - 4 * var(--small) - 2 * var(--border-thick) - 1px);  /* 1px is rounding error?? */
    box-shadow: 6px 15px 10px rgba(0,0,0,0.8);
    cursor: pointer;
    background-color: var(--light-yellow);
    transition: transform 0.4s ease-out, background-color 0.4s ease, color 0.4s ease;
}

    .content-card:hover {
        transform: rotate(-2deg);
        background-color: var(--red);
        color: var(--white);
    }
