/* constants and general*/
:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: #C8102E;
    --grey: #706B6C;
    --brown: #725939;
    --dark-brown: #463012;
    --light-yellow: #FAF6CC;
    --yellow: #FFF09C;

    --tiny: 6px;
    --small: 15px;
    --medium: 35px;
    --big: 70px;

    --border-thin: 1px;
    --border-medium: 8px;
    --border-thick: 12px;
    --border-radius: 8px;
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;  /* TODO: check what it is for*/
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

main {
    background: linear-gradient(to bottom, var(--light-yellow) 35%, var(--white));
    transition: transform 0.5s ease-in-out;
}

.masonry-layout {
    column-count: 2;
    gap: 0;
}

/* texts */
.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: var(--medium) 0;
}

    .main-text h1 {
        font-size: 3rem;
        color: var(--black);
    }

        .main-text h1:hover {
            color: var(--red);
        }

    .main-text h2 {
        font-size: 2rem;
        color: var(--black);
    }

    .main-text h3 {
        font-size: 1rem;
        color: var(--black);
    }


.small-image {
    width: 250px;
}

.medium-image {
    width: 400px;
}